@import "@/assets/style/_color.scss";
@import '@/assets/style/_mixin.scss';

/* face recognition */
.face-recognition {
  min-height: 100vh;
  height: 100%;  
  .camera-header {
    position: absolute;
    top: 30px;
    text-align: center;
    font-size: 1rem;
    z-index: 1;
    .text-secondary {
      color: $secondary
    }
  }
  .camera-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .camera-stream {
    height: 100vh;
    transform: scale(-1, 1);
  }
  .canvas-jpeg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scale(-1, 1);
  }
  .canvas-hidden {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 100px;
    width: 256px;
    height: 256px;
    box-shadow: 0 0 0 9999px rgba(14, 15, 22, 0.9);
    border-radius: 10px;
  }
  .btn-container {
    position: absolute;
    bottom: 30px;
    display: flex;
    .btn-shot {
      background: $secondary;
      margin: 0 1rem;
      height: 40px;
      width: 100px;
      font-size: 1.4rem;
      font-weight: 700;
      border-radius: 25px;
      z-index: 1;
    }
  }
  /* 코너 테두리 사각형 */
  .corner {
    width: 256px;
    height: 256px;
    top: 100px;
    position: absolute;
    
    div {
      width: 2rem;
      height: 2rem;
      position: absolute;
      border-color: rgba($secondary, 0.7);
      border-style: solid;

      &.top-left {
        top: 0;
        left: 0;
        border-width: 4px 0 0 4px;
        border-radius: 10px 0 0 0;
      }
      &.top-right {
        top: 0;
        right: 0;
        border-width: 4px 4px 0 0;
        border-radius: 0 10px 0 0;
      }
      &.bottom-left {
        bottom: 0;
        left: 0;
        border-width: 0 0 4px 4px;
        border-radius: 0 0 0 10px;
      }
      &.bottom-right {
        bottom: 0;
        right: 0;
        border-width: 0 4px 4px 0;
        border-radius: 0 0 10px 0;
      }
    }
  }
}


/* motion recognition */
.motion-recognition {
  background: $grey-dark;
  min-height: 100vh;
  height: 100%;  
  .camera-header {
    width: 320px;
    height: 50px;
    text-align: center;
    font-size: 30px;
  }
  .camera-stream {
    width: 320px;
    height: 240px;
  }
  .canvas-jpeg {
    position: absolute;
    top: 50px;
    width: 320px;
    height: 240px;
  }
  .motion-direction {
    position: absolute;
    top: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .motion-dialog {
    position: absolute;
    margin-top: 5px;
    background: rgba(14, 15, 22, 0.9);
    border-radius: 0 15px 15px 15px;
    color: white;
    padding: 5px;
  }
}


/* card recognition */
.card-recognition {
  background: $grey-dark;
  min-height: 100vh;
  height: 100%;  
  .camera-header {
    width: 320px;
    height: 50px;
    text-align: center;
    font-size: 30px;
  }
  .camera-stream {
    width: 320px;
    height: 240px;
  }
  .canvas-jpeg {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 125px;
  }
  .canvas-hidden {
    display: none;
  }
  .card-direction {
    position: absolute;
    top: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card-box {
      height: 125px;
      width: 200px;
      border: medium dashed $secondary;
      border-radius: 15px;
    }
    .card-dialog {
      margin-top: 5px;
      background: rgba(14, 15, 22, 0.9);
      border-radius: 0 15px 15px 15px;
      color: white;
      padding: 5px;
    }
  }
  .btn-shot {
    background: $secondary;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 25px;
    z-index: 1;
  }
}

/* 코너 테두리 사각형 */
.corner {
  width: 256px;
  height: 256px;
  top: 100px;
  position: absolute;
  
  div {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-color: rgba($secondary, 0.7);
    border-style: solid;

    &.top-left {
      top: 0;
      left: 0;
      border-width: 4px 0 0 4px;
      border-radius: 10px 0 0 0;
    }
    &.top-right {
      top: 0;
      right: 0;
      border-width: 4px 4px 0 0;
      border-radius: 0 10px 0 0;
    }
    &.bottom-left {
      bottom: 0;
      left: 0;
      border-width: 0 0 4px 4px;
      border-radius: 0 0 0 10px;
    }
    &.bottom-right {
      bottom: 0;
      right: 0;
      border-width: 0 4px 4px 0;
      border-radius: 0 0 10px 0;
    }
  }
}

